
.sidebar {
    height: 30vh; /* Full height */
    background-color: #f8f9fa; /* Light gray background */
    padding-top: 20px;
}
.content {
    padding: 20px;
}

.titulo{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    color: #f8f9fa;
    margin-right: 40px;
    text-decoration: underline;
}